* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}
.main-content {
    padding-top: 50px; /* Push content down to avoid overlap with the fixed topbar */
    padding: 20px;
    background-color: #fff;
    flex-grow: 1;
 
    margin-top: 170px;
}

.main-content .header {
    background-color: #2980b9;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.topbar {
    width: 100%;
    background-color:#2980b9;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
h2{
    color:#2980b9;
    margin: 0;
 
    text-align: center;
    letter-spacing: 1px;
    
}

.topbar h2 {
    color: #ecf0f1;
    text-align: center;
    margin: 0;
}

.topbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.topbar ul li {
    padding: 10px 20px;
}

.topbar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.topbar ul li a:hover,
.topbar ul li a.active {
    background-color:  #34495e;
    border-radius: 5px;
}

.topbar ul li a i {
    margin-right: 8px;
}
.topbar h2:first-child {
    font-size: 1.5em;
    font-weight: bold;
  
    margin-right: 10px;
}


/* Table Styling */
table {
   
    width: 90%;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 100px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #2980b9;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Button Styling */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
