* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

.topbar {
    width: 100%;
    background-color:  #2980b9;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.topbar h2 {
    color: #ecf0f1;
    text-align: center;
    margin: 0;
}

.topbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.topbar ul li {
    padding: 10px 20px;
}

.topbar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.topbar ul li a:hover,
.topbar ul li a.active {
    background-color: #34495e;
    border-radius: 5px;
}

.topbar ul li a i {
    margin-right: 8px;
}

.main-content {
    padding-top: 200px; /* Push content down to avoid overlap with the fixed topbar */
    padding: 20px;
    background-color: #fff;
    flex-grow: 1;
    min-height: 100vh;
}

header {
    background-color: #2980b9;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.attendance-history-section {

    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}

.attendance-history-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.attendance-history-section th, 
.attendance-history-section td {
    border: 1px solid #bdc3c7;
    padding: 10px;
    text-align: center;
}

.attendance-history-section th {
    background-color: #2980b9;
    color: white;
}

.attendance-history-section td {
    background-color: #fff;
}

.attendance-history-section tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.attendance-history-section tbody tr:hover {
    background-color: #d1ecf1;
}

@media (max-width: 768px) {
    .topbar ul {
        flex-direction: column;
    }

    .topbar ul li {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .topbar ul li a {
        font-size: 16px;
        padding: 10px;
    }

    .topbar ul {
        flex-direction: column;
    }
}
.back-btn {
    margin-top: 40px;
    margin-left: 700px;
}

.back-btn .btn {
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.back-btn .btn:hover {
    background-color:#2980b9;
    transition: background-color 0.3s ease;
}
